<header id="home-header">
  <div class="container" fxLayout="column" fxLayoutAlign="space-between center">
    <div class="home-logo">
      <h1> RECICLA</h1>
      
    </div>
    <span fxFlex></span>
    <button mat-button id="dashboard-topbtn" routerlink="/registrar"><strong>Registrarse</strong></button>
    <button mat-button id="dashboard-topbtn" routerLink="/login"><strong>Iniciar sesión</strong></button>
    <button mat-button id="dashboard-topbtn" routerLink="/login"><strong>Aplicación</strong></button>
    <button mat-button id="dashboard-topbtn" routerLink="/login"><strong>Contacto</strong></button>



  </div>
</header>
<section class="home-intro-section">
  <div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
    <div fxFlex="50">
      <h1 class="home-intro-title">      
        <strong>RECICLA</strong> es la aplicación que promueve el reciclaje!
      </h1>
      <div class="home-intro-desc">
      Con <strong>RECICLA</strong> podra reducir, reusar y reciclar, en posición actual modelo económico regido por producir, usar y tirar.
      </div>
      <div class="intro-list" fxLayout="column" fxLayoutGap="30px">
        <div fxFlex="100">
          <mat-icon color="accent">check</mat-icon><span fxFlex="20px"></span> Reúne lo productos para reciclar en una caja</div>
        <div fxFlex="100">
          <mat-icon color="accent">check</mat-icon><span fxFlex="20px"></span> Realiza la cotización de acuerdo al peso, ubicación y tipo de productos</div>
        <div fxFlex="100">
          <mat-icon color="accent">check</mat-icon><span fxFlex="20px"></span> Entrega el paquete al recolector en el domicilio solicitado</div>
          <div fxFlex="100">
              <mat-icon color="accent">check</mat-icon><span fxFlex="20px"></span>Tus productos se entregarán a una empresa recicladora para dar el mejor aprovechamiento de los materiales</div>
        </div>

    </div>
    <span fxFlex.lt-md="30px" fxFlex="0"></span>
  </div>
</section>

<section id="portfolio-section" class="portfolio home-section light-gray">
  <div class="container">
    <div class="section-header">
      <h2>Acerca de la aplicación</h2>
      <p>Recicla es una aplicación que busca optimizar y mejorar el proceso de reciclado, uniendo personas que tienen material reutilizable, con recicladores dispuestos a retirar este material y comercializarlo libremente
      </p>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/images/sq-12.jpg">
          <mat-card-content>
            <h5><strong><a href="">Reciclaje a domicilio</a></strong></h5>
            <p> 
                Una aplicación que te permite reciclar desde la comodidad de tu hogar, sin tener que gastar tiempo buscando puntos limpios donde ir.
              </p>
            <mat-divider class="mb-1"></mat-divider>
            <button mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
            <button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
          </mat-card-content>
        </mat-card>
      </div>
     
    </div>
    <div class="text-center home-section-action">
      <button mat-raised-button mat-lg-button color="accent">INGRESAR</button>
    </div>
  </div>
</section>

<section class="home-section">
  <div class="container">
    <div class="section-header">
      <h2>Acerca de la aplicación</h2>
      <p>Recicla sin moverte de tu hogar
      </p>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="20px">
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>dashboard</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Crea un impacto real</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">Creemos que las soluciones siempre son en conjunto. Ayúdanos a crear una solución definitiva para el problema ambiental que hoy enfrentamos, mediante el reciclaje inclusivo
            </p>
            <span fxFlex="40px"></span>
            <div>
              <button mat-button><strong class="text-muted">READ MORE</strong></button>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>perm_data_setting</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Recibe regalos por participar</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">Acumula puntos realizando acciones verdes, y canjéalas por descuentos y/o productos en nuestra sección de incentivos.
            </p>
            <span fxFlex="40px"></span>
            <div>
              <button mat-button><strong class="text-muted">READ MORE</strong></button>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>storage</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Formemos comunidad</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">Oficialicemos y mejoremos el trabajo de los recicladoreS, mediante el correcto uso de la aplicación e invitando a mas gente a formar parte de esta revolución
            </p>
            <span fxFlex="40px"></span>
            <div>
              <button mat-button><strong class="text-muted">READ MORE</strong></button>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>stay_primary_portrait</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Custom Mobile Application</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
            </p>
            <span fxFlex="40px"></span>
            <div>
              <button mat-button><strong class="text-muted">READ MORE</strong></button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</section>

<section class="home-section light-gray">
  <div class="container">
    <div class="section-header">
      <h2>Envíanos un email</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, error.</p>
    </div>
 
  </div>
</section>

<footer class="home-footer">
  <section class="home-footer-top">
    <div class="container">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap">
        <div fxFlex="50" class="footer-box">
          <h4 class="footer-box-title"><b>About Us</b></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Officiis perferendis rem, aut aliquam neque nam? dolor sit amet, consectetur adipisicing elit consectetur adipisicing elit. 
            Officiis perferendis rem, aut aliquam.</p>
          <button mat-raised-button color="accent">Contact Us</button>
        </div>
        <div fxFlex="25" class="footer-box">
          <h4 class="footer-box-title"><b>Contact</b></h4>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon color="accent">email</mat-icon>
              <h5 matLine><b>Email</b></h5>
              <p matLine> recicla@gmail.com </p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon color="accent">location_on</mat-icon>
                <h5 matLine><b>Adress</b></h5>
                <p matLine>La Paz, Bolivia </p>
                <p matLine>Alto San Pedro </p>
              </mat-list-item>
          </mat-list>
        </div>
        <div fxFlex="25" class="footer-box">
          <h4 class="footer-box-title"><b>Siguenos en:</b></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis perferendis rem, aut aliquam neque nam?</p>
          <div class="socials pt-1">
            <ul>
              <li><a href="" class="social-icon linkedin"></a></li>
              <li><a href="" class="social-icon twitter"></a></li>
              <li><a href="" class="social-icon facebook"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>